@model Gmi.RosterManager.Models.PlayerModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:20px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title no-underline inline">@Html.DisplayFor(model => model.FirstName) &quot;@Html.DisplayFor(model => model.ScreenName) &quot; @Html.DisplayFor(model => model.LastName) - Statistics</h4>
            <div class="btn-group pull-right" style="margin-top:-8px; margin-right:-13px">
                <button class="btn btn-default text-center" alt="Add Statistic" onclick="@("window.location.href='" + Url.Action("Add", "Stat", new { entityId = Model.PlayerId, type = Gmi.RosterManager.Models.EntityType.Player }, null) + "'");"><i class="glyphicon glyphicon-plus" style="margin-top:2px"></i></button>
                <button class="btn btn-default text-center" alt="Edit Team" onclick="@("window.location.href='" + Url.Action("Edit", "Player", new { id = Model.PlayerId }, null) + "'");"><i class="glyphicon glyphicon-edit" style="margin-top:2px"></i></button>
                <button class="btn btn-default text-center" alt="Delete Team" onclick="@("window.location.href='" + Url.Action("Delete", "Player", new { id = Model.PlayerId }, null) + "'");"><i class="glyphicon glyphicon-trash" style="color:#C60000; margin-right:1px; margin-top:2px"></i></button>
            </div>
        </div>
        <div id="statPanel">
            <div class="panel-body">
                <div class="col-sm-3 entityContainer">
                    <center>
                        <div class="entityBox">
                            <img src="@Url.Action("Image","Image", new { id = Model.AvatarImageId })" class="avatar" />
                        </div>
                    </center>
                </div>
                <div class="col-sm-9">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Screen Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ScreenName)
                        </dd>
                        <dt>
                            @Html.DisplayName("First Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayName("Last Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayName("Team Name")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TeamName)

                        </dd>

                        @foreach (var item in Model.Stats.OrderBy(s => s.Name))
                        {
                            <dt>
                                <a href="@("#teamNameButtons"+ item.StatId)" data-toggle="collapse">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </a>
                            </dt>
                            <dd>
                                <a href="@("#teamNameButtons"+ item.StatId)" data-toggle="collapse">
                                    @Html.DisplayFor(modelItem => item.Value)
                                </a>
                                <div id="@("teamNameButtons"+ item.StatId)" class="collapse">
                                    <div class="btn-group">
                                        <button class="btn btn-default" onclick="@("window.location.href='" + Url.Action("Edit", "Stat", new { statId = item.StatId }, null) + "'")"><i class="glyphicon glyphicon-edit"></i> </button>
                                        <button class="btn btn-default" onclick="@("window.location.href='" + Url.Action("Delete", "Stat", new { statId = item.StatId }, null) + "'")"><i class="glyphicon glyphicon-remove"></i> </button>
                                    </div>
                                </div>

                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>