@model Gmi.RosterManager.Models.TeamModel

@{
    ViewBag.Title = "Add Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:20px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Add Team</h4>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("Create", "Team", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BannerImageFile, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.BannerImageFile, new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BannerImageFile, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                            
                        </div>
                    </div>
                </div>
            }
            <button class="btn btn-default text-center pull-right" title="Cancel" onclick="@("window.location.href='" + Url.Action("Index", "Team", null) + "'");"> Cancel </button>
        </div>
    </div>
</div>
